---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to">
  <section class="p-5 overflow-hidden">
    <div class="container mx-auto">
      <div class="hidden sm:block lg:flex items-center">
        <div>
          <p>
            All of our body art services are completely freehand, temporary, &
            fun
          </p>
          <h1 class="font-cinzel text-h1 tracking-3 leading-[100%] mb-14">
            Discover beauty
            <span class="font-cormorant">with</span> henna
          </h1>
          <button
            class="bg-black font-montserrat w-full lg:w-[13.75rem] py-4 text-white text-base mb-[4.375rem]"
          >
            Book Now
          </button>
        </div>
        <div>
          <figure class="mx-w-full w-full lg:w-[36.25rem] h-[42.5rem] mb-5">
            <img
              class="w-full h-full"
              src="../../image/rectangle-14.png"
              alt=""
            />
          </figure>
          <p class="max-w-[20.875rem]">
            All of our body art services are completely freehand, temporary, &
            fun
          </p>
        </div>
      </div>
      <div class="sm:hidden">
        <h2>
          Discover beauty
          <span class="font-cormorant">with</span> henna
        </h2>
        <figure
          class="max-w-full w-[20.938rem] h-[21.875rem] bg-black-3 m-auto mb-5"
        >
          <img
            class="w-full h-full"
            src="../../image/rectangle-14.png"
            alt=""
          />
        </figure>
        <p class="">
          All of our body art services are completely freehand, temporary, & fun
        </p>
        <button
          class="bg-black font-montserrat w-full py-4 text-white text-base mb-[4.375rem]"
        >
          Book Now
        </button>
      </div>
    </div>
  </section>
  <section class="p-5">
    <div class="container mx-auto">
      <div class="sm:hidden">
        <h2>Portfolio</h2>
        <figure
          class="max-w-full w-[20.938rem] bg-black-3 m-auto mb-5 relative"
        >
          <img src="../../image/rectangle-14.png" alt="" />
          <figcaption
            class="bg-white-7 backdrop-blur-[0.125rem] w-full h-[3.75rem] absolute top-0 left-0"
          >
            <h5
              class="text-[0.813rem] leading-4 text-light pt-[0.625rem] pl-[1.188rem]"
            >
              Aliqua id fugiat nostrud
            </h5>
            <h5
              class="text-[0.813rem] leading-4 text-light pt-[0.625rem] pl-[1.188rem]"
            >
              01/02/2023
            </h5>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section>
    <div class="container mx-auto px-5">
      <div
        class="flex items-center justify-between gap-6 m-auto max-w-full w-[20.938rem] mb-10"
      >
        <div class="max-w-full w-[9.688rem]">
          <figure>
            <img src="../../image/rectangle-16.png" alt="" />
            <figcaption class="mt-5">
              <h5 class="text-[0.813rem] leading-4 text-light pt-[0.625rem]">
                Aliqua id fugiat nostrud
              </h5>
              <h5 class="text-[0.813rem] leading-4 text-light pt-[0.625rem]">
                01/02/2023
              </h5>
            </figcaption>
          </figure>
        </div>
        <div class="max-w-full w-[9.688rem]">
          <figure>
            <img src="../../image/rectangle-16.png" alt="" />
            <figcaption class="mt-5">
              <h5 class="text-[0.813rem] leading-4 text-light pt-[0.625rem]">
                Aliqua id fugiat nostrud
              </h5>
              <h5 class="text-[0.813rem] leading-4 text-light pt-[0.625rem]">
                01/02/2023
              </h5>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div
      class="container mx-auto flex items-center justify-between mb-[4.375rem] px-5"
    >
      <button
        class="w-[6.25rem] h-[6.25rem] flex items-center justify-center border border-disabled rounded-full"
      >
        <svg
          class="w-12 h-5"
          width="48"
          height="20"
          viewBox="0 0 48 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <mask id="path-1-inside-1_429_323" fill="white">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5.59549 10.5L48 10.5L48 9.5L5.59072 9.5C5.69746 6.53865 6.89414 3.26933 10 -1.66103e-06L-4.37114e-07 10L9.56108 19.5611C9.70913 19.717 9.85581 19.8634 10 20L9.56108 19.5611C7.76679 17.672 5.77247 14.3988 5.59549 10.5Z"
            >
            </path>
          </mask>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5.59549 10.5L48 10.5L48 9.5L5.59072 9.5C5.69746 6.53865 6.89414 3.26933 10 -1.66103e-06L-4.37114e-07 10L9.56108 19.5611C9.70913 19.717 9.85581 19.8634 10 20L9.56108 19.5611C7.76679 17.672 5.77247 14.3988 5.59549 10.5Z"
            fill="#CDCDCD"
          >
          </path>
          <path
            d="M48 10.5L48 11.5L49 11.5L49 10.5L48 10.5ZM5.59549 10.5L5.59549 9.5L4.54906 9.5L4.59652 10.5453L5.59549 10.5ZM48 9.5L49 9.5L49 8.5L48 8.5L48 9.5ZM5.59072 9.5L4.59137 9.46398L4.55403 10.5L5.59072 10.5L5.59072 9.5ZM10 -1.66103e-06L10.725 0.688748L9.29289 -0.707108L10 -1.66103e-06ZM-4.37114e-07 10L-0.707108 9.29289L-1.41422 10L-0.707108 10.7071L-4.37114e-07 10ZM10 20L9.31225 20.726L10.7071 19.2929L10 20ZM48 9.5L5.59549 9.5L5.59549 11.5L48 11.5L48 9.5ZM47 9.5L47 10.5L49 10.5L49 9.5L47 9.5ZM5.59072 10.5L48 10.5L48 8.5L5.59072 8.5L5.59072 10.5ZM9.275 -0.688751C6.01697 2.74075 4.70768 6.23686 4.59137 9.46398L6.59008 9.53602C6.68723 6.84045 7.7713 3.7979 10.725 0.688748L9.275 -0.688751ZM0.707107 10.7071L10.7071 0.707105L9.29289 -0.707108L-0.707108 9.29289L0.707107 10.7071ZM10.2682 18.854L0.707107 9.29289L-0.707108 10.7071L8.85398 20.2682L10.2682 18.854ZM10.6877 19.274C10.5567 19.1499 10.4225 19.016 10.2862 18.8724L8.83601 20.2498C8.99576 20.4179 9.15488 20.5769 9.31225 20.726L10.6877 19.274ZM8.85398 20.2682L9.29289 20.7071L10.7071 19.2929L10.2682 18.854L8.85398 20.2682ZM4.59652 10.5453C4.78728 14.7479 6.9256 18.2384 8.83601 20.2498L10.2862 18.8724C8.60798 17.1055 6.75765 14.0497 6.59446 10.4547L4.59652 10.5453Z"
            fill="#CDCDCD"
            mask="url(#path-1-inside-1_429_323)"
          >
          </path>
        </svg>
      </button>
      <button
        class="w-[6.25rem] h-[6.25rem] flex items-center justify-center border border-black rounded-full"
      >
        <svg
          class="w-12 h-5"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 48 20"
        >
          <mask id="a" fill="#fff">
            <path
              fill-rule="evenodd"
              d="M42.404 9.5H0v1h42.41c-.107 2.961-1.304 6.23-4.41 9.5l10-10L38.439.439A11.738 11.738 0 0 0 38 0l.439.439C40.233 2.328 42.227 5.6 42.404 9.5Z"
              clip-rule="evenodd"
            >
            </path>
          </mask>
          <path
            fill="#383533"
            fill-rule="evenodd"
            d="M42.404 9.5H0v1h42.41c-.107 2.961-1.304 6.23-4.41 9.5l10-10L38.439.439A11.738 11.738 0 0 0 38 0l.439.439C40.233 2.328 42.227 5.6 42.404 9.5Z"
            clip-rule="evenodd"
          >
          </path>
          <path
            fill="#383533"
            d="M0 9.5v-1h-1v1h1Zm42.404 0v1h1.047l-.047-1.045-1 .045ZM0 10.5h-1v1h1v-1Zm42.41 0 .999.036.037-1.036h-1.037v1ZM38 20l-.725-.689 1.432 1.396L38 20Zm10-10 .707.707.707-.707-.707-.707L48 10ZM38 0l.688-.726L37.293.707 38 0ZM0 10.5h42.404v-2H0v2Zm1 0v-1h-2v1h2Zm41.41-1H0v2h42.41v-2Zm-3.685 11.189c3.258-3.43 4.567-6.926 4.684-10.153l-2-.072c-.096 2.695-1.18 5.738-4.134 8.847l1.45 1.378Zm8.568-11.396-10 10 1.414 1.414 10-10-1.414-1.414Zm-9.561-8.147 9.56 9.561 1.415-1.414-9.561-9.561-1.414 1.414Zm-.42-.42c.131.124.266.258.402.402l1.45-1.378a13.35 13.35 0 0 0-.476-.476L37.312.726Zm1.834-.994-.439-.44L37.293.708l.439.439 1.414-1.414Zm4.258 9.723c-.191-4.203-2.33-7.693-4.24-9.705l-1.45 1.378c1.678 1.766 3.528 4.822 3.692 8.417l1.998-.09Z"
            mask="url(#a)"
          >
          </path>
        </svg>
      </button>
    </div>
  </section>
  <section>
    <div class="container mx-auto px-5">
      <h2>Testimonials</h2>
      <div class="flex">
        <span>&#10077;</span>
        <p class="font-cinzel text-xl mt-2">
          Amet minim molliteniam consequat sunt
        </p>
      </div>
      <div class="border-l-2 border-[#A1BD74] mb-5">
        <p class="ml-3 italic">
          Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui
          esse pariatur duis deserunt mollit dolore cillum minim tempor enim.
          Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate
          aute id deserunt nisi.
        </p>
      </div>
      <div
        class="flex items-center justify-between gap-6 m-auto max-w-full w-[20.938rem] mb-10"
      >
        <div class="max-w-full w-[9.688rem]">
          <figure>
            <img src="../../image/rectangle-16.png" alt="" />
          </figure>
        </div>
        <div class="max-w-full w-[9.688rem]">
          <figure>
            <img src="../../image/rectangle-16.png" alt="" />
          </figure>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container mx-auto px-5">
      <div class="flex items-center justify-between mb-[4.375rem]">
        <button
          class="w-[6.25rem] h-[6.25rem] flex items-center justify-center border border-disabled rounded-full"
        >
          <svg
            class="w-12 h-5"
            width="48"
            height="20"
            viewBox="0 0 48 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask id="path-1-inside-1_429_323" fill="white">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5.59549 10.5L48 10.5L48 9.5L5.59072 9.5C5.69746 6.53865 6.89414 3.26933 10 -1.66103e-06L-4.37114e-07 10L9.56108 19.5611C9.70913 19.717 9.85581 19.8634 10 20L9.56108 19.5611C7.76679 17.672 5.77247 14.3988 5.59549 10.5Z"
              >
              </path>
            </mask>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M5.59549 10.5L48 10.5L48 9.5L5.59072 9.5C5.69746 6.53865 6.89414 3.26933 10 -1.66103e-06L-4.37114e-07 10L9.56108 19.5611C9.70913 19.717 9.85581 19.8634 10 20L9.56108 19.5611C7.76679 17.672 5.77247 14.3988 5.59549 10.5Z"
              fill="#CDCDCD"
            >
            </path>
            <path
              d="M48 10.5L48 11.5L49 11.5L49 10.5L48 10.5ZM5.59549 10.5L5.59549 9.5L4.54906 9.5L4.59652 10.5453L5.59549 10.5ZM48 9.5L49 9.5L49 8.5L48 8.5L48 9.5ZM5.59072 9.5L4.59137 9.46398L4.55403 10.5L5.59072 10.5L5.59072 9.5ZM10 -1.66103e-06L10.725 0.688748L9.29289 -0.707108L10 -1.66103e-06ZM-4.37114e-07 10L-0.707108 9.29289L-1.41422 10L-0.707108 10.7071L-4.37114e-07 10ZM10 20L9.31225 20.726L10.7071 19.2929L10 20ZM48 9.5L5.59549 9.5L5.59549 11.5L48 11.5L48 9.5ZM47 9.5L47 10.5L49 10.5L49 9.5L47 9.5ZM5.59072 10.5L48 10.5L48 8.5L5.59072 8.5L5.59072 10.5ZM9.275 -0.688751C6.01697 2.74075 4.70768 6.23686 4.59137 9.46398L6.59008 9.53602C6.68723 6.84045 7.7713 3.7979 10.725 0.688748L9.275 -0.688751ZM0.707107 10.7071L10.7071 0.707105L9.29289 -0.707108L-0.707108 9.29289L0.707107 10.7071ZM10.2682 18.854L0.707107 9.29289L-0.707108 10.7071L8.85398 20.2682L10.2682 18.854ZM10.6877 19.274C10.5567 19.1499 10.4225 19.016 10.2862 18.8724L8.83601 20.2498C8.99576 20.4179 9.15488 20.5769 9.31225 20.726L10.6877 19.274ZM8.85398 20.2682L9.29289 20.7071L10.7071 19.2929L10.2682 18.854L8.85398 20.2682ZM4.59652 10.5453C4.78728 14.7479 6.9256 18.2384 8.83601 20.2498L10.2862 18.8724C8.60798 17.1055 6.75765 14.0497 6.59446 10.4547L4.59652 10.5453Z"
              fill="#CDCDCD"
              mask="url(#path-1-inside-1_429_323)"
            >
            </path>
          </svg>
        </button>
        <button
          class="w-[6.25rem] h-[6.25rem] flex items-center justify-center border border-black rounded-full"
        >
          <svg
            class="w-12 h-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 48 20"
          >
            <mask id="a" fill="#fff">
              <path
                fill-rule="evenodd"
                d="M42.404 9.5H0v1h42.41c-.107 2.961-1.304 6.23-4.41 9.5l10-10L38.439.439A11.738 11.738 0 0 0 38 0l.439.439C40.233 2.328 42.227 5.6 42.404 9.5Z"
                clip-rule="evenodd"
              >
              </path>
            </mask>
            <path
              fill="#383533"
              fill-rule="evenodd"
              d="M42.404 9.5H0v1h42.41c-.107 2.961-1.304 6.23-4.41 9.5l10-10L38.439.439A11.738 11.738 0 0 0 38 0l.439.439C40.233 2.328 42.227 5.6 42.404 9.5Z"
              clip-rule="evenodd"
            >
            </path>
            <path
              fill="#383533"
              d="M0 9.5v-1h-1v1h1Zm42.404 0v1h1.047l-.047-1.045-1 .045ZM0 10.5h-1v1h1v-1Zm42.41 0 .999.036.037-1.036h-1.037v1ZM38 20l-.725-.689 1.432 1.396L38 20Zm10-10 .707.707.707-.707-.707-.707L48 10ZM38 0l.688-.726L37.293.707 38 0ZM0 10.5h42.404v-2H0v2Zm1 0v-1h-2v1h2Zm41.41-1H0v2h42.41v-2Zm-3.685 11.189c3.258-3.43 4.567-6.926 4.684-10.153l-2-.072c-.096 2.695-1.18 5.738-4.134 8.847l1.45 1.378Zm8.568-11.396-10 10 1.414 1.414 10-10-1.414-1.414Zm-9.561-8.147 9.56 9.561 1.415-1.414-9.561-9.561-1.414 1.414Zm-.42-.42c.131.124.266.258.402.402l1.45-1.378a13.35 13.35 0 0 0-.476-.476L37.312.726Zm1.834-.994-.439-.44L37.293.708l.439.439 1.414-1.414Zm4.258 9.723c-.191-4.203-2.33-7.693-4.24-9.705l-1.45 1.378c1.678 1.766 3.528 4.822 3.692 8.417l1.998-.09Z"
              mask="url(#a)"
            >
            </path>
          </svg>
        </button>
      </div>
    </div>
  </section>
  <section>
    <div class="container mx-auto px-5">
      <h2 class="text-center">Karissa Smith</h2>
      <figure
        class="max-w-full flex justify-center w-[20.938rem] bg-[url('../../image/bg.png')] m-auto mb-5 py-3"
      >
        <img src="../../image/rectangle-35.png" alt="" />
      </figure>
      <p>
        Karissa is the artist behind Henna Happens, a professionally and
        internationally trained henna artist.
      </p>
      <figure class="max-w-full flex justify-center w-[20.938rem] m-auto mb-5">
        <img src="../../image/secondary-photo.png" alt="" />
      </figure>
      <div class="flex -mb-2">
        <span class="text-[4.375rem] leading-none font-cinzel text-[#A1BD74]">
          A
        </span>
        <p class="mb-2">
          natural artist at heart, she was introduced to the medium in 2014 and
          instantly fell in love.
        </p>
      </div>
      <p>
        With a passionate 8 years of professional experience, she specializes in
        bridal, Indo-Arabic, Moroccan, and contemporary designs; each design is
        uniquely freehand and can tailored for you, the possibilities are
        endless.
      </p>
      <p>
        Our fresh henna and jagua products are all natural, plant based and hand
        mixed in small batches for the highest staining quality and will
        definitely be a hit at your next party, wedding, or event.
      </p>
      <h3 class="font-montserrat font-semibold text-xl leading-6 mb-[1.875rem]">
        Book now for your one of a kind design!
      </h3>
      <button
        class="bg-black font-montserrat w-full py-4 text-white text-base mb-[4.375rem]"
      >
        Meet the Artist
      </button>
    </div>
  </section>
</Layout>
