<header class="lg:py-10 w-full">
    <div class="container mx-auto">
        <nav class="hidden lg:flex w-full items-center justify-between">
            <ul class="sm:flex space-x-4 hidden items-center">
              <li><a href="#" class="text-gray-700 hover:text-indigo-600 text-md ">about</a></li>
              <li><a href="#" class="text-gray-700 hover:text-indigo-600 text-md ">portfolio</a></li>
            </ul>
            <label class="text-black font-cinzel text-2xl">Henna Happens</label>
            <ul class="sm:flex space-x-4 hidden items-center">
              <li><a href="#" class="text-gray-700 hover:text-indigo-600 text-md ">services</a></li>
              <li><a href="#" class="text-gray-700 hover:text-indigo-600 text-md ">location</a></li>
              <li><a href="#" class="text-gray-700 hover:text-indigo-600 text-md ">FAQ</a></li>
            </ul>
        </nav>
        <nav class="lg:hidden w-full">
            <div class="flex items-center w-full justify-between p-5">
                <label class="text-black font-cinzel text-2xl">Henna Happens</label>
                <button>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 6H19M9 10H19M5 14H19M9 18H19" stroke="#383533" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </button>
            </div>
            <div class="w-full flex flex-wrap p-5 nav-wrap pt-[4.375rem]">
                <div class="overflow-y-auto w-full">
                    <ul class="space-y-4">
                      <li><a href="#" class="text-gray-700 hover:text-indigo-600 text-md ">about</a></li>
                      <li><a href="#" class="text-gray-700 hover:text-indigo-600 text-md ">portfolio</a></li>
                      <li><a href="#" class="text-gray-700 hover:text-indigo-600 text-md ">services</a></li>
                      <li><a href="#" class="text-gray-700 hover:text-indigo-600 text-md ">location</a></li>
                      <li><a href="#" class="text-gray-700 hover:text-indigo-600 text-md ">FAQ</a></li>
                    </ul>
                </div>
                <div class="w-full flex items-center">
                </div>
            </div>
        </nav>
    </div>
</header>

<style>
@media screen and (max-width: 767px) {
.nav-wrap{
    height: calc(100vh - 4.5rem)
}
}
</style>